<div class="travel fill" id="travel" (scroll)="scrollevent()">
  <div class="bg_container fill">

    <div class="bg_content">
      <div class="fill" *ngFor="let bg of bgLoadingService.background; trackBy:index; let i = index">
        <div class="bg img" *ngIf="wasmService.asc.bg_show(i, bgLoadingService.background.length, bg_selected)" [ngStyle]="{'background-image': 'url(' + bg.org + ')', 'opacity': opacity_arr[bgLoadingService.background.length - i - 1]}">
        </div>
      </div>
    </div>

    <div class="bg filter fill" [@hide_filter]="!hide_content ? 'void' : 'on'"></div>

    <div class="scroll_hint" [ngStyle]="{'opacity': get_scroll_hint_opacity()}">
      <span>Scroll down</span>
    </div>

    <div class="prologue_box" [ngStyle]="{'opacity': get_prologue_box_opacity()}">

      <div class="bleed"></div>

      <div class="prologue text_fadeout" [@text]="!text_hide ? 'void' : 'on'" [@hide_content]="!hide_content ? 'void' : 'on'" *ngIf="!!switch">
        <p id="fadein0" class="fadein">
        </p>
        <p id="fadein1" class="fadein" [ngStyle]="{'opacity': !!switch.length && get_opacity()}">
          I still don&#39;t know where this flight will take me.
        </p>
        <p id="fadein2" class="fadein" [ngStyle]="{'opacity': arr[18]}">
          I still don&#39;t know where this road will lead me.
        </p>
        <p id="fadein3" class="fadein" [ngStyle]="{'opacity': arr[19]}">
          But one thing I know for sure,
        </p>
        <p id="fadein4" class="fadein" [ngStyle]="{'opacity': arr[20]}">
          This will change my life forever.
        </p>
        <p id="fadein8" class="fadein" [ngStyle]="{'opacity': arr[21]}">
          The night before I left Taiwan, I asked myself over and over again if I have to do this. Yeah, first time being a backpacker.
          First time traveling alone. First time speaking English. And first time doing everything on my own without any
          help from travel agencies.
        </p>
      </div>

      <div class="bleed"></div>

    </div>

    <div class="pin_point" *ngFor="let trigger of triggers; trackBy:pin_track; let i = index; let first = first">
      <span *ngIf="first && get_pin_opacity()"></span>
      <span *ngIf="!!pin_arr && arr[pin_arr_offset + i] >= -0.5" [ngStyle]="{ 'opacity' : arr[pin_arr_offset + i] }"
        [innerHTML]="trigger"></span>
    </div>
  </div>

  <div class="text text_fadeout" (click)="hide_content = !hide_content && !authorized" [@hide_content]="!hide_content ? 'void' : 'on'">

    <div class="bleed" (mouseenter)="hide_content = !authorized" (mouseleave)="hide_content = false">
    </div>

    <div class="content">
      <div>
        <div class="session" *ngFor="let item of databaseService.data | async; trackBy:item_trackby; let i = index; let last = last">
          <app-content-tools *ngIf="authorized" (save)="update_data($event, item, i)" [editorState]="editorState" (click)="authorized && $event.stopPropagation()">
            <i *ngIf="authorized" class="fa fa-trash pointer" (click)="$event.stopPropagation(); delete_data(item)"></i>
            <div data-editable [attr.data-name]="'content' + i" [innerHTML]="item.en"></div>
          </app-content-tools>
          <div *ngIf="!authorized" [attr.id]="'content' + i">
            <div *ngIf="!item.unbind && render_content(last, i, item)"></div>
          </div>
        </div>
      </div>

      <div class="new_post" *ngIf="authorized">
        <h3 *ngIf="authorized">Add new post here...</h3>
        <app-content-tools *ngIf="!new_hide" ngInit (init)="editorState = true" (save)="update_data($event, 'new')" [editorState]="editorState"
          (click)="authorized && $event.stopPropagation()">
          <div data-editable data-name="content_new" [innerHTML]="editorContent_new"></div>
        </app-content-tools>
      </div>
    </div>

    <div class="bleed" (mouseenter)="hide_content = !authorized" (mouseleave)="hide_content = false"></div>

  </div>
</div>