<div class="travel fill" id="travel" (scroll)="scrollevent()">
  <div class="bg_container fill">

    <div class="bg_content">
      <div class="fill" *ngFor="let bg of bgLoadingService.background; trackBy:index; let i = index; let first = first">
        <span *ngIf="first && get_bg_opacity()"></span>
        <div class="bg img" [ngStyle]="{'background-image': 'url(' + bg.org + ')', 'opacity': F64[bg_first + bgLoadingService.background.length - i - 1]}">
        </div>
        <!-- <div class="bg img" *ngIf="bgLoadingService.background.length - i - 1 === switch.length" [ngStyle]="{'background-image': 'url(' + bg.org + ')', 'opacity': '1'}">
        </div> -->
      </div>
    </div>

    <div class="bg filter fill" [@hide_filter]="!hide_content ? 'void' : 'on'"></div>

    <div class="scroll_hint" [ngStyle]="{'opacity': scroll_hint_opacity}">
      <span>Scroll down</span>
    </div>

    <div class="prologue_box" [ngStyle]="{'opacity': prologue_box_opacity}">

      <div class="bleed"></div>

      <div class="prologue text_fadeout" [@text]="!text_hide ? 'void' : 'on'" [@hide_content]="!hide_content ? 'void' : 'on'"
        *ngIf="!!switch">
        <p id="fadein0" class="fadein">
        </p>
        <p id="fadein1" class="fadein" [ngStyle]="{'opacity': F64[fadein_first]}">
          I still don&#39;t know where this flight will take me.
        </p>
        <p id="fadein2" class="fadein" [ngStyle]="{'opacity': F64[fadein_first + 1]}">
          I still don&#39;t know where this road will lead me.
        </p>
        <p id="fadein3" class="fadein" [ngStyle]="{'opacity': F64[fadein_first + 2]}">
          But one thing I know for sure,
        </p>
        <p id="fadein4" class="fadein" [ngStyle]="{'opacity': F64[fadein_first + 3]}">
          This will change my life forever.
        </p>
        <p id="fadein8" class="fadein" [ngStyle]="{'opacity': F64[fadein_first + 4]}">
          The night before I left Taiwan, I asked myself over and over again if I have to do this. Yeah, first time
          being a backpacker.
          First time traveling alone. First time speaking English. And first time doing everything on my own without
          any
          help from travel agencies.
        </p>
      </div>

      <div class="bleed"></div>

    </div>

    <div class="pin_point" *ngFor="let trigger of triggers; trackBy:pin_track; let i = index; let first = first">
      <span *ngIf="F64[pin_first + i] >= -0.5" [ngStyle]="{ 'opacity' : F64[pin_first + i] }" [innerHTML]="trigger"></span>
    </div>
  </div>

  <div class="text text_fadeout" (click)="hide_content = !hide_content && !authorized" [@hide_content]="!hide_content ? 'void' : 'on'">

    <div class="bleed" (mouseenter)="hide_content = !authorized" (mouseleave)="hide_content = false">
    </div>

    <div class="content">
      <div>
        <div class="session" *ngFor="let item of databaseService.data | async; trackBy:item_trackby; let i = index; let last = last">
          <app-content-tools [attr.id]="'edit' + i" *ngIf="authorized" (save)="databaseService.update_data($event, item, i)"
            [editorState]="editorState" (click)="authorized && $event.stopPropagation()">
            <i class="fa fa-trash pointer" *ngIf="!item.delete_processing" (click)="$event.stopPropagation(); item.delete_processing = true; databaseService.delete_data(item)"></i>
            <i class="fa fa-spinner fa-spin" *ngIf="item.delete_processing"></i>
            <div *ngIf="!item.unbind && render_content(last, i, item)"></div>
            <div data-editable [attr.data-name]="'content' + i" [innerHTML]="item.en"></div>
          </app-content-tools>
          <div *ngIf="!authorized" [attr.id]="'content' + i">
            <div *ngIf="!item.unbind && render_content(last, i, item)"></div>
          </div>
        </div>
      </div>

      <div class="new_post" *ngIf="authorized">
        <h3>Add new post here...</h3>
        <app-content-tools *ngIf="!databaseService.new_hide" ngInit (init)="editorState = true; databaseService.new_hide = false"
          (save)="databaseService.update_data($event, 'new')" [editorState]="editorState" (click)="$event.stopPropagation()">
          <div data-editable data-name="content_new"></div>
        </app-content-tools>
      </div>
    </div>

    <div class="bleed" (mouseenter)="hide_content = !authorized" (mouseleave)="hide_content = false"></div>

  </div>
</div>