<!--The content below is only a placeholder and can be replaced.-->
<div class="intro fill">
  <div class="filter fill"></div>
  <div class="title">
    <div class="intro_content">
      <div class="pre" [@pre]="leave ? 'void' : 'on'">
        <h2>All about my journey. All about my lifestyle.</h2>
      </div>
      <div class="name_enter">
        <div class="name" [@name]="leave ? 'void' : 'on'">
          <h1>Simon Cheng</h1>
        </div>
        <div class="text-right">
          <!-- <button class="enter" [disabled]="disabled" (click)="leave"> -->
          <button class="enter plain_button" [ngClass]="{'pointer' : !disabled}" [@enter]="leave ? 'void' : 'on'" (@enter.done)="disabled = false"
            [disabled]="disabled" (click)="disabled = true; leave = true">
            <span class="arrow">►</span>
            <span class="enter_text">Enter</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
